<!DOCTYPE html>
<html lang="en" ng-app="rjsmApp">
    <head>
        <title>RJS 365</title>
        <!--CSS Files-->
        <link rel="stylesheet" type="text/css" href="assets/css/common.css">
        <link rel="stylesheet" type="text/css" href="assets/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-grid.min.css">
        
        <!-- Library JS Files -->
        <script type="text/javascript" src="assets/js/lib/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="assets/js/lib/angular.js"></script>
        <script type="text/javascript" src="assets/js/lib/angular-ui-route.js"></script>
        <script type="text/javascript" src="assets/js/lib/angular-ui-router-styles.js"></script>
        <script type="text/javascript" src="assets/slick/slick.min.js"></script>
        
        <!-- Angular config JS -->
        <script type="text/javascript" src="assets/js/app.js"></script>
        
        <!-- Angular Directives -->
        <script type="text/javascript" src="assets/js/directives/headerMenu.js"></script>
        <script type="text/javascript" src="assets/js/directives/serviceHover.js"></script>

        <!-- fullPage JS -->
        <script type="text/javascript" src="assets/js/fullpage/fullpage.js"></script>
    </head>

    <body header-menu>
        <header data-ui-view="headerContent" id="header-content" class="col-12">

        </header>
        <div id="header-menu">
            <ul class="menu">
                <li><img src="assets/images/" header-menu/></li>
                <li class="item">
                    <a ng-href="">Design & Development</a>
                </li>
                <li class="item" ng-class="{'active' : curPage == 'facility-management'}">
                    <a ng-href="{{'#/facility-management'}}">Facility Management</a>
                </li>
                <li class="item">
                    <a ng-href="">IT Solutions</a>
                </li>
                <li class="item">
                    <a ng-href="{{'#/real-estate'}}">Real Estate</a>
                </li>
                <li class="item">
                    <a ng-href="">Other Services</a>
                </li>
            </ul>
            <ul class="bottom-menu">
                <li class="item" ng-class="{'active' : curPage == 'about-us'}">
                    <a ng-href="{{'#/about-us'}}">About</a>
                </li>
                <li class="item">
                    <a ng-href="">Clients</a>
                </li>
                <li class="item">
                    <a ng-href="">Contact Us</a>
                </li>
            </ul>
        </div>
        <ul id="slider-div" ng-if="curPage == 'home'">
            <li class="icn_slider home" ng-class="{'active' : curPage == 'home' && hash == ''}">
                <a ng-href="{{'#/home'}}">
                    <span>01</span>
                </a>
            </li>
            <li class="icn_slider services" ng-class="{'active' : curPage == 'services'}">
                <a ng-href="{{'#/home#services'}}">
                    <span>02</span>
                </a>
            </li>
        </ul>
        <div data-ui-view="mainContent" id="main-content">
            <div id="fullpage-home">
                <div class="home-content">
                    <div class="col-12 desc-img-row">
                        <div class="col-5 desc-div">
                            <p class="desc">
                                Your one stop solution for all your needs.
                            </p>
                            <p class="sub-desc">
                                We offer wide range of services.
                            </p>
                        </div>
                        <div class="col-8 desc-img">
                            <div class="slider">
                                <div>
                                    <img src="assets/images/landing_page/img.jpg"/>
                                </div>
                                <div>
                                    <img src="assets/images/about_us/img-about-us.jpg"/>
                                </div>
                                <div>
                                    <img src="assets/images/about_us_more/img-more-about.jpg"/>
                                </div>
                            </div>
                        </div>
                    
                    <div id="img-nav">
                        <img class="left" src="assets/images/icn-chevron-left.svg"/>
                        <img class="right" src="assets/images/icn-chevron-right.svg"/>
                    </div>
                    </div>
                </div>
                <div class="home-content">
                    <div id="services-div" ng-controller='rjsmController'>
                        <div id="what-we-offer">
                            <span>WHAT WE OFFER</span>
                        </div>
                        <div id="our-services">
                            Our services
                        </div>
                        <div id="all-services" class="container">
                            <div class="row">
                                <div class="col-lg-4 col-6 each-service" service-hover ng-repeat="service in services">
                                    <div class="service-title">
                                        <span class="num">{{service.num}}</span>
                                        <span class="dash"></span>
                                        <span class="title-txt">{{service.title}}</span>
                                    </div>
                                    <div class="service-desc">
                                        <p>
                                            {{service.content}}
                                        </p>
                                    </div>
                                    <div class="explore-services">
                                        <a ng-href="{{service.link}}">EXPLORE SERVICES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scroll-div">
                <span>Scroll</span>
            </div>
        </div>
        <div data-ui-view="footerContent" id="footer-content">
            
        </div>
    </body>
</html>