<!DOCTYPE html>
<html lang="en" ng-app="rjsmApp">
    <head>
        <title>RJS 365</title>
        <!--CSS Files-->
        <link rel="stylesheet" type="text/css" href="assets/css/common.css">
        <link rel="stylesheet" type="text/css" href="assets/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-grid.min.css">
        
        <!-- Library JS Files -->
        <script type="text/javascript" src="assets/js/lib/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="assets/js/lib/angular.js"></script>
        <script type="text/javascript" src="assets/js/lib/angular-ui-route.js"></script>
        <script type="text/javascript" src="assets/js/lib/angular-ui-router-styles.js"></script>
        <script type="text/javascript" src="assets/slick/slick.min.js"></script>
        
        <!-- Angular config JS -->
        <script type="text/javascript" src="assets/js/app.js"></script>
        
        <!-- Angular Directives -->
        <script type="text/javascript" src="assets/js/directives/headerMenu.js"></script>
        <script type="text/javascript" src="assets/js/directives/serviceHover.js"></script>

        <!-- fullPage JS -->
        <script type="text/javascript" src="assets/js/fullpage/fullpage.js"></script>
    </head>

    <body header-menu>
        <header data-ui-view="headerContent" id="header-content" class="col-12"></header>
        <div id="header-menu" data-ui-view="hamburgerView"></div>
        <ul id="slider-div" ng-if="curPage == 'home'" ng-controller='rjsmController'>
            <li class="{{eachMenu.class}}" ng-class="{{eachMenu.ngClass}}" ng-repeat="eachMenu in sliderMenu">
                <a ng-href="{{eachMenu.src}}">
                    <span>{{eachMenu.num}}</span>
                </a>
            </li>
        </ul>
        <div data-ui-view="mainContent" id="main-content">
            <div id="home-page">
                <div id="fullpage-home" ng-controller="rjsmController">
                    <div class="home-content" data-ui-view="landingView"></div>
                    <div class="home-content" id="about-us-div" ng-repeat="eachPage in aboutUs">
                        <div class="col-12 desc-img-row">
                            <div class="col-6 desc-div">
                                <p class="title">{{eachPage.title}}</p>
                                <p class="desc">
                                    {{eachPage.desc}}
                                </p>
                                <p class="sub-desc">
                                    {{eachPage.subDesc}}
                                </p>
                            </div>
                            <div class="col-8 desc-img">
                                <img ng-src="{{eachPage.imgSrc}}">
                            </div>
                        </div>
                    </div>
                    <div class="home-content" data-ui-view="servicesView"></div>
                    <div class="home-content" data-ui-view="clientsView"></div>
                    <div class="home-content" data-ui-view="teamView"></div>
                </div>
                <div id="scroll-div">
                    <span>Scroll</span>
                </div>
            </div>
        </div>
        <div data-ui-view="footerContent" id="footer-content"></div>
    </body>
</html>