#about-us-div, #clients-div {
	margin: 0 150px;
}
body {
	background-image: linear-gradient(to left, #000000, #000000) !important;
}
.service-img img {
	height: 70px;
	width: 220px;
	left: 25%;
}
#clients-div {
	padding-top: 100px;
	padding-bottom: 60px;
}
#clients-div .desc-img-row {
	margin-bottom: 40px;
}
#clients-div .desc-div {
	position: relative;
}