body {
	margin: 0;
}
@font-face {
    font-family: PoppinsRegular;
    src: url('../fonts/Poppins/Poppins-Regular.otf');
}
@font-face {
    font-family: PoppinsMedium;
    src: url('../fonts/Poppins/Poppins-Medium.otf');
}
@font-face {
    font-family: PoppinsLight;
    src: url('../fonts/Poppins/Poppins-Light.otf');
}
@font-face {
    font-family: SFUITextRegular;
    src: url('../fonts/SFUIText/SFUIText-Regular.ttf');
}
@font-face {
    font-family: SFUITextBold;
    src: url('../fonts/SFUIText/SFUIText-Bold.ttf');
}
@font-face {
    font-family: MontAltSemiBold;
    src: url('../fonts/MontserratAlternates/MontserratAlternates-SemiBold.ttf');
}
#header-content {
	height: 20vh;
	padding: 0 30px;
	position: fixed;
}
a {
	text-decoration: none;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
.transform-xy-50 {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-title {
	font-family: MontAltSemiBold;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.9px;
	line-height: 30px;
	position: relative;
}
.header-title a {
	color: #FFFFFF;
}
.header-title a span {
	color: #e82946;
}
.hamburger-menu {
	color: #FFFFFF;
	position: relative;
}
#header-content, #hamburger-menu-div, #header-title-div {
	display: flex;
	align-items: center;
}
#header-title-div {
	justify-content: flex-start;
}
#hamburger-menu-div {
	justify-content: flex-end;
	cursor: pointer;
	padding-right: 30px;
}
.hamburger-menu-ico {
	height: 22px;	
	width: 24px;
}
#slider-div li.icn_slider.active a::before {
	width: 24px;
	background-color: #e82946;
	opacity: 1;
}
#slider-div li.icn_slider a::before {
	top: 7px;
	left: 0;
	width: 14px;
	height: 1px;
	object-fit: contain;
	opacity: 0.2;
	border-radius: 1px;
	background-color: #ffffff;
	content: '';
	position: absolute;
	display: inline-block;
}
#slider-div {
	position: fixed;
	left: 46px;
	top: 50%;
	width: 40px;
}
.icn_slider {
	width: 100%;
	display: block;
}
#slider-div li.icn_slider a {
	width: 100%;
  	height: 10px;
	font-family: PoppinsRegular;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	color: #e82946;
	position: relative;
	display: block;
	padding: 0 35px;
}
#slider-div li.icn_slider span {
	display: none;
}
#slider-div li.icn_slider.active span {
	display: block;
}
.pagination-div {
	display: none;
}
#footer {
	padding: 40px 0;
  	background-image: linear-gradient(to left, #000000, #000000);
}
#footer .title {
	font-family: SFUITextBold;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #e82946;
}
#footer p.title::after {
	width: 52px;
	height: 1px;
	border: solid 1px #e82946;
	content: '';
    position: absolute;
    top: 7px;
    margin-left: 20px;
}
#footer p {
	margin: 0 0 20px 0; 
}
#footer .desc {
	color: #FFFFFF;
	font-family: PoppinsMedium;
	font-size: 40px;
	font-weight: 500;
	line-height: 65px;
}
#footer .sub-desc {
	color: #FFFFFF;
	font-family: SFUITextRegular;
	font-size: 13px;
	line-height: 28px;
}
ul {
	margin: 0;
}
#footer-address li {
	padding-bottom: 10px;
}
#footer-address .city {
	font-family: PoppinsLight;
	font-size: 20px;
	color: #ffffff;
}
#footer-address .address {
	font-family: SFUITextRegular;
	font-size: 13px;
	line-height: 2.15;
	color: #ffffff;
}
#footer-address .phone, #footer-address .email {
	font-family: SFUITextRegular;
	font-size: 13px;
	line-height: 2.15;
	color: #e82946;
}
#footer-menu {
	font-family: PoppinsLight;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	color: #ffffff;
}
#footer-menu li {
	padding-bottom: 20px;
}
#footer .row > div {
	padding: 0 20px;
}
#footer #copyright {
	font-family: PoppinsLight;
	font-size: 10px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	color: #ffffff;
}
#header-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1001;
	height: 100vh;
	background-color: #111214;
 	box-shadow: -94px 0 81px 0 rgba(0, 0, 12, 0.33);
 	width: 30%;
 	padding-right: 60px;
 	display: none;
}
#header-menu .menu li:first-child {
	padding-top: 40px;
	padding-bottom: 60px;
}
#header-menu .menu li {
	position: relative;
	font-family: PoppinsMedium;
	font-size: 20px;
	font-weight: 500;
	text-align: right;
	margin-bottom: 20px;
	height: 30px;
	cursor: pointer;
}
#header-menu .bottom-menu {
	position: absolute;
    bottom: 40px;
    right: 60px;
}
#header-menu .bottom-menu li {
	position: relative;
	font-family: PoppinsRegular;
	font-size: 16px;
	text-align: right;
	margin-bottom: 20px;
	height: 30px;
	cursor: pointer;
}
#header-menu li a {
	color: #ffffff;
}
#header-menu li.active a {
	color: #e82946;
}
#header-menu li.active::after {
	position: absolute;
	top: 35px;
	margin-left: -20px;
	width: 20px;
	border: solid 1px #e82946;
	content: '';
}
.single-page-section {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.single-page-content {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
}
.ad-div {
	background-color: #fff;
	height: 200px;
	display: block;
	position: relative;
}
.ad {
	padding: 80px 0;
}
.ad > span {
	font-family: PoppinsMedium;
	font-size: 29px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #e82946;
	display: block;
}
.ad > span > span {
	font-weight: 900;
}
#right-line, #left-line {
	position: absolute;
	border: solid 5px #e82946;
	width: 30%;
}
#right-line {
	right: 0;
	top: -5px;
}
#left-line {
	left: 0;
	top: 195px;
}
.ad-content-div {
	font-family: SFUITextRegular;
	font-size: 20px;
	font-weight: normal;
	line-height: 2.1;
	text-align: center;
	color: #ffffff;
}
.ad-content-div p {
	padding: 30px 10%
}