html, body {
	overflow: auto !important;
}
#contact-div {
	margin: 0 150px;
	padding-top: 20vh;
}
#contact-div .desc-div {
	top: 0;
	transform: none;
}
.contact-title {
	font-family: PoppinsRegular;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 65px;
	color: white;
}
.contact-form-input {
	height: 30px;
	width: 285px;
	background: linear-gradient(270deg, #000000 2.35%, #000000 97.03%);
	mix-blend-mode: normal;
	opacity: 0.5;
	color: white;
	border-top: none;
	border-left: none;
	border-right: none;
	display: block;
	outline: none;
	margin-bottom: 30px;
  border-width: 1px;
}
::-webkit-input-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
	color: white;
	opacity: 1;
}
.contact-form-btn {
	border: none;
	color: #E82946;
	font-family: SFUITextRegular;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.9px;
	background: linear-gradient(270deg, #000000 2.35%, #000000 97.03%);
	margin-left: -6px;
	outline: none;
}
.contact-form-btn::after {
	content: "->";
	color: #E82946;
	position: absolute;
}
.desc-img {
	left: 45% !important;
}
.contact-info {
	margin-top: 40px;
}
.contact-info p {
	font-family: PoppinsRegular;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}
.contact-info span {
	font-family: SFUITextRegular;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #E82946;
	padding-right: 20px;
}