html, body {
	overflow: auto !important;
}
body {
	background-image: linear-gradient(to left, #000000, #000000) !important;
}
#facility-mgmt-div .desc-img-row {
	margin-bottom: 60px;
}
.each-service .service-img {
	margin-bottom: 20px;
}
.each-service .service-img img {
	width: 100%;
}
#facility-mgmt-div {
	margin-bottom: 60px;
	padding-top: 20vh;
	margin: 0 150px;
}
.ad-div {
	background-color: #fff;
	height: 200px;
	display: block;
	position: relative;
}
.ad {
	padding: 80px 0;
}
.ad > span {
	font-family: PoppinsMedium;
	font-size: 29px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #e82946;
	display: block;
}
.ad > span > span {
	font-weight: 900;
}
#right-line, #left-line {
	position: absolute;
	border: solid 5px #e82946;
	width: 30%;
}
#right-line {
	right: 0;
	top: -5px;
}
#left-line {
	left: 0;
	top: 195px;
}
.ad-content-div {
	font-family: SFUITextRegular;
	font-size: 20px;
	font-weight: normal;
	line-height: 2.1;
	text-align: center;
	color: #ffffff;
}
.ad-content-div p {
	padding: 30px 10%
}