html, body {
	overflow: auto !important;
}
#facility-mgmt-div .desc-img-row {
	margin-bottom: 60px;
}
.each-service .service-img {
	margin-bottom: 20px;
}
.each-service .service-img img {
	width: 100%;
}
#facility-mgmt-div {
	margin-bottom: 60px;
	margin: 0 150px;
}
.facility-mgmt {
	padding-top: 20vh;
}
.service-title {
	padding-bottom: 20px;
}