body {
	background-image: url('../images/landing_page/background.jpg');
}
#main-content {
	margin: 0 150px;
}
#desc-img-row {
	display: inline-flex;
	height: 70vh;
}
#desc-div {
	z-index: 100;
	position: absolute;
}
#desc-img {
	z-index: 99;
	left: 33.333333%;
}
.desc {
	color: #FFFFFF;
	font-family: PoppinsMedium;
	font-size: 40px;
	font-weight: 500;
	line-height: 65px;
}
.sub-desc {
	color: #FFFFFF;
	font-family: SFUITextRegular;
	font-size: 13px;
	line-height: 28px;
}
#desc-img img {
	width: 100%;
}
#img-nav {
	position: absolute;
    right: 135px;
    bottom: 64px;
    z-index: 1000;
}
#img-nav img:first-child {
	padding-right: 10px;
}
#scroll-div span::before {
	top: 13px;
    left: -80px;
    width: 60px;
    height: 2px;
    object-fit: contain;
    border-radius: 1px;
    background-color: #ffffff;
    content: '';
    position: absolute;
}
#scroll-div {
	position: relative;
	color: #ffffff;
	font-family: PoppinsRegular;
}
#desc-div .title {
	font-family: SFUITextBold;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #e82946;
}
#desc-div p.title::after {
	width: 52px;
	height: 1px;
	border: solid 1px #e82946;
	content: '';
    position: absolute;
    top: 7px;
    margin-left: 20px;
}
#desc-div p {
	margin: 0 0 20px 0; 
}
#what-we-offer {
	font-family: SFUITextBold;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #e82946;
	position: relative;
}
#what-we-offer span::after {
	width: 51.1px;
	left: 150px;
	border: solid 1px #e82946;
	content: '';
	position: absolute;
	top: 8px;
}
#our-services {
  font-family: PoppinsMedium;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #ffffff;
}
.each-service {
	padding: 20px;
	position: relative;
}
.service-title {
	font-family: PoppinsLight;
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	position: relative;
	margin-bottom: 20px;
}
.service-desc {
	font-family: SFUITextRegular;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	color: #ffffff;
	position: relative;
}
.service-title span.num {
	opacity: 0.1;
	font-family: PoppinsRegular;
	font-size: 51px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #e82946;
	padding: 0 5px;
	position: relative;
}
.service-title span.dash {
	width: 51.1px;
	border: solid 1px #ffffff;
	content: '';
	position: absolute;
	top: 36px;
	left: 0;
	opacity: 1;
}
.service-title span.title-txt {
	position: absolute;
	top: 21px;
	padding-left: 10px;
}
.explore-services {
	visibility: hidden;
	font-family: SFUITextBold;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.9px;
	margin-top: 30px;
	position: relative;
}
.explore-services a {
	color: #e82946 !Important;
}
.explore-services a::after {
	padding-left: 30px;
	position: absolute;
	content: url('../images/services/icn-arrow-right.svg');
}
.each-service.active > .explore-services {
	visibility: visible;
}