body {
	background-image: linear-gradient(to left, #000000, #000000) !important;
}
#home-page {
	background-image: url('../images/landing_page/background.jpg');
}
.slick-current.slick-active, .desc-img img {
	background: linear-gradient(270deg, #000000 2.35%, #000000 97.03%);
	mix-blend-mode: normal;
	opacity: 0.5;
}
#fullpage-home {
	margin: 0 150px;
}
.desc-img-row {
	display: inline-flex;
}
.desc-div {
	z-index: 100;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.desc-img {
	z-index: 99;
	left: 33.333333%;
}
.desc {
	color: #FFFFFF;
	font-family: PoppinsMedium;
	font-size: 40px;
	font-weight: 500;
	line-height: 65px;
}
.sub-desc {
	color: #FFFFFF;
	font-family: SFUITextRegular;
	font-size: 13px;
	line-height: 28px;
}
.desc-img img {
	width: 100%;
}
#img-nav {
	position: absolute;
	right: -27px;
	bottom: -27px;
	z-index: 1000;
	cursor: pointer;
}
#img-nav img:first-child {
	padding-right: 10px;
}
#scroll-div span::before {
	top: 13px;
	left: -80px;
	width: 60px;
	height: 2px;
	object-fit: contain;
	border-radius: 1px;
	background-color: #ffffff;
	content: '';
	position: absolute;
}
#scroll-div {
	position: fixed;
	color: #ffffff;
	font-family: PoppinsRegular;
	left: 150px;
	bottom: 40px;
}
.desc-div .title {
	font-family: SFUITextBold;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #e82946;
}
.desc-div p.title::after {
	width: 52px;
	height: 1px;
	border: solid 1px #e82946;
	content: '';
	position: absolute;
	top: 7px;
	margin-left: 20px;
}
.desc-div p {
	margin: 0 0 20px 0; 
}
#what-we-offer {
	font-family: SFUITextBold;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #e82946;
	position: relative;
}
#what-we-offer span::after {
	width: 51.1px;
	left: 150px;
	border: solid 1px #e82946;
	content: '';
	position: absolute;
	top: 8px;
}
#our-services {
	font-family: PoppinsMedium;
	font-size: 40px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	color: #ffffff;
}
.each-service {
	padding: 10px;
	position: relative;
}
.service-title {
	font-family: PoppinsLight;
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	position: relative;
}
.service-desc {
	font-family: SFUITextRegular;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	color: #ffffff;
	position: relative;
}
.service-title .num {
	opacity: 0.1;
	font-family: PoppinsRegular;
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #e82946;
	padding: 0 5px;
	position: relative;
	display: inline-block;
	top: 8px;
	min-width: 51.1px;
}
.service-title .dash {
	width: 51.1px;
	border: solid 1px #ffffff;
	content: '';
	position: absolute;
	top: 36px;
	left: 0;
	opacity: 1;
}
.service-title .title-txt {
	display: inline;
}
.explore-services {
	visibility: hidden;
	font-family: SFUITextBold;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.9px;
	margin-top: 10px;
	position: relative;
}
.explore-services a {
	color: #e82946 !Important;
}
.explore-services a::after {
	padding-left: 30px;
	position: absolute;
	content: url('../images/services/icn-arrow-right.svg');
}
.each-service.active > .explore-services {
	visibility: visible;
}
.clientLogos {
	display: inline-block;
	padding: 20px 50px;
	font-family: SFUITextBold;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
}
#clients-div .desc-div {
	position: relative;
}
#team-div .desc-div {
	position: relative;
	transform: none;
	top: 0;
}
#team-div .desc-div p {
	margin: 0;
}
.team-member {
	padding: 20px;
	transform: translateX(12.5%);
}
.team-img img {
	width: 150px;
}
.team-info .name {
	font-family: PoppinsMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #E82946;
}
.team-info .designation {
	font-family: PoppinsRegular;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 19px;
	color: #FFFFFF;
}