#top-content {
	background-image: url(../images/real_estate/real_estate_header.jpg);
}

#image-content {
	width: 60%;
}

#ov-desc {
	width: 80%;
	margin: auto;
}

#facility-content {
	position: relative;
	height: 50vh;
  	background-color: #f4f4f4;
  	box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.08);
	z-index: 2;
}

#facility-div {
	width: 100%;
}

#facility-div #facility-title {
	font-family: GothamRoundedMedium;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	color: #00000c;
	margin-bottom: 20px;
}

#facility-div #facility-title-1 {
	font-family: MontserratRegular;
	font-size: 40px;
	line-height: 1.6;
	text-align: center;
	color: #e82946;
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
}

#facility-div #facility-desc {
	font-family: GothamRoundedBook;
  	font-size: 21px;
  	line-height: 1.8;
  	text-align: center;
  	color: #5a5a5a;
}

#facility-div #facility-desc p {
	margin-bottom: 0px;
}