<div id="desc-img-row" class="col-12">
    <div id="desc-div" class="col-5">
        <p class="title">AN OVERVIEW</p>
        <p class="desc">
            We will help you with what we have learnt
        </p>
        <p class="sub-desc">
            To take over everything, from an idea and solutions to realization. We believe in traditions and incorporate them within our innovations for helping out the one in need with our wide range of services offered. We RJS 365 are a highly renowned Facility Management solutions and IT solutions provider having a wide number of prospective clients. RJS 365 Unites a diverse, dynamic, motivated team able to deliver a highly professional yet affordable services at all times.
        </p>
    </div>
    <div id="desc-img" class="col-8">
        <img src="assets/images/landing_page/img.jpg">
    </div>
</div>
<div id="scroll-div">
    <span>Scroll</span>
</div>