<div id="desc-img-row" class="col-12">
    <div id="desc-div" class="col-5">
        <p class="title">WE ARE FRIENDLY</p>
        <p class="desc">
            How we engage customers
        </p>
        <p class="sub-desc">
            We are a bunch of experts holding years and years of experience in services and solutions. Our team is highly knowledgeable and functional to meet any kind of business needs as and when needed. RJS 365 can work in a tight turnaround time and can yet deliver un-compromised quality services. Finest solutions at a competitive rate are what that makes us fit our client’s budget and needs. We believe in overcoming challenges through our specialised values and teamwork spirit.
        </p>
    </div>
    <div id="desc-img" class="col-8">
        <img src="assets/images/about_us_more/img-more-about.jpg">
    </div>
</div>
<div id="scroll-div">
    <span>Scroll</span>
</div>