<div id="overview-div">
    <div id="overview-content" class="transform-y-50">
        <div id="ov-title">
            <span>EXCLUSIVITY AT ITS BEST</span>
        </div>
        <div id="ov-desc">
            <span>Mission is to bring joy and delight into car buying and ownership.</span>
        </div>
        <div id="ov-para">
            <p>Weddings, celebrations, corporate events, expos, road shows or any other event you have in mind, we are here to turn into a grand and never-ever-seen-before event. Our fanatical attention to get everything picture perfect results in a faultless and exceptional event and party organization.</p>
        </div>
    </div>
</div>
<div id="services-content">
    <div id="fourw-service" class="each-service">
        <div class="left">
            <img src="assets/images/automobiles/four_wheeler.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>CARS BUY AND SELL</span>
                </div>
                <div class="title">
                    Everyone are unique, so is your wedding
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Our approach to wedding design is sophisticated, personal, and highly attentive. After all, we want planning your wedding to be half the fun. We work closely with our brides and grooms to put together unforgettable moments 
                </div>
            </div>
        </div>
    </div>
    <div id="twow-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>TWO WHEELERS CARS BUY AND SELL</span>
                </div>
                <div class="title">
                    Planning to throw a blast? Well, we got you covered
                </div>
                <div class="divider"></div>
                <div class="desc">
                    All you have to do is be the supermom or superdad that trusts our experts and pampers their child with the most creative birthday party games, jolly birthday party decorations and fun-filled birthday party themes
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/automobiles/two_wheeler.jpg"/>
        </div>
    </div>
</div>