<div id="clients-div">
    <!-- <div class="single-page-section"> -->
        <!-- <div class="single-page-content"> -->
            <div class="col-12 desc-img-row">
                <div class="col-6 desc-div">
                    <p class="title">WHO TRUSTS US</p>
                    <p class="desc">
                        Our Clients
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <div class="service-img">
                            <img src="assets/images/clients/bridgelink-logo.png">
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="service-img">
                            <img src="assets/images/clients/kkar-logo.png">
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="service-img">
                            <img src="assets/images/clients/YML-logo.jpg">
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</div>