<div id="contact-div">
    <div class="col-12 desc-img-row">
        <div class="col-6 desc-div">
            <p class="contact-title">Have any questions?<br/> Contact us!</p>
            <input type="text" placeholder="Name" class="contact-form-input"/>
            <input type="text" placeholder="Phone" class="contact-form-input"/>
            <input type="email" placeholder="Email" class="contact-form-input"/>
            <input type="submit" value="SUBMIT" class="contact-form-btn"/>
        </div>
        <div class="col-7 desc-img">
            <img src="assets/images/contact.jpg">
        </div>
    </div>
    <div class="contact-info">
        <p>Our contact info</p>
        <span>+91 9945222176</span>
        <span>general@rjs365.in</span>
    </div>
</div>