<div id="overview-div">
    <div id="overview-content" class="transform-y-50">
        <div id="ov-title">
            <span>EXCLUSIVITY AT ITS BEST</span>
        </div>
        <div id="ov-desc">
            <span>We are obsessive about organization, aesthetic presentation and spend endless hours on planning each and every aspect of your event</span>
        </div>
        <div id="ov-para">
            <p>Weddings, celebrations, corporate events, expos, road shows or any other event you have in mind, we are here to turn into a grand and never-ever-seen-before event. Our fanatical attention to get everything picture perfect results in a faultless and exceptional event and party organization.</p>
        </div>
    </div>
</div>
<div id="services-content">
    <div id="wedding-service" class="each-service">
        <div class="left">
            <img src="assets/images/event_mgmt/wedding.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>WEDDING EVENTS</span>
                </div>
                <div class="title">
                    Everyone are unique, so is your wedding
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Our approach to wedding design is sophisticated, personal, and highly attentive. After all, we want planning your wedding to be half the fun. We work closely with our brides and grooms to put together unforgettable moments 
                </div>
            </div>
        </div>
    </div>
    <div id="birthday-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>BIRTHDAYS</span>
                </div>
                <div class="title">
                    Planning to throw a blast? Well, we got you covered
                </div>
                <div class="divider"></div>
                <div class="desc">
                    All you have to do is be the supermom or superdad that trusts our experts and pampers their child with the most creative birthday party games, jolly birthday party decorations and fun-filled birthday party themes
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/event_mgmt/birthday.jpg"/>
        </div>
    </div>
    <div id="corporate-service" class="each-service">
        <div class="left">
            <img src="assets/images/event_mgmt/corporate.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>CORPORATE EVENTS</span>
                </div>
                <div class="title">
                    Planning a big corporate event?
                </div>
                <div class="divider"></div>
                <div class="desc">
                    We believe your need to promote your brand, motivate employees or market your product. We plan conceptualized event and implement meetings, communicate your business or sales strategy in the most motivational environment with the show makers
                </div>
            </div>
        </div>
    </div>
    <div id="hk-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>HOUSE KEEPING</span>
                </div>
                <div class="title">
                    Don’t ever worry about the <span>maintenance</span>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Whether your space is administrative, executive or office floor plan, we drive to help you meet your requirements.
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/event_mgmt/hk.jpg"/>
        </div>
    </div>
    <div id="catering-service" class="each-service">
        <div class="left">
            <img src="assets/images/event_mgmt/catering.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>CATERING</span>
                </div>
                <div class="title">
                    Food and entertainment
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Food and entertainment have always been essential ingredients of every occasion that calls for a celebration. Our expertise in these two areas, through our catering and event management services, forms the essence of our name 'Celebrations'.
                </div>
            </div>
        </div>
    </div>
    <div id="photo-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>EVENT PHOTOGRAPHERS</span>
                </div>
                <div class="title">
                    We capture moments for you
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Offers a dynamic range of professional event photography services. Enquire us Today to get in all the details required for your Special Events.
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/event_mgmt/photo.jpg"/>
        </div>
    </div>
</div>