<div id="event-mgmt-div" class="event-mgmt">
    <div class="col-12 desc-img-row">
        <div class="col-6 desc-div">
            <p class="title">EXCLUSIVITY AT ITS BEST</p>
            <p class="desc">
                Best services for Event Organization
            </p>
            <p class="sub-desc">
                We are obsessive about organization, aesthetic presentation and spend endless hours on planning each and every aspect of your event such as Weddings, celebrations, corporate events, expos, road shows or any other event you have in mind, we are here to turn into a grand and never-ever-seen-before event. Our fanatical attention to get everything picture perfect results in a faultless and exceptional event and party organization.
            </p>
        </div>
        <div class="col-8 desc-img">
            <img src="assets/images/event_management/event-management.jpg">
        </div>
    </div>
    <div ng-controller='rjsmController'>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6 each-service" ng-repeat="facility in eventFacilities">
                    <div class="service-img">
                        <img ng-src="{{facility.imgSrc}}">
                    </div>
                    <div class="service-title">
                        <span class="num">{{facility.num}}</span>
                        <span class="dash"></span>
                        <span class="title-txt">{{facility.title}}</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            {{facility.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="advt-div">
    <div id="right-line"></div>
    <div class="advt">
        <span>We also offer a wide range of Electro Mechanical Services</span>
    </div>
    <div id="left-line"></div>
</div>
<div class="advt-content-div">
    <p>
        As one of the fastest growing facility Management Company, we offer a wide range of Electro - Mechanical Services to handle the facilities within your premises. We take care of the Electrical & Mechanical maintenance (MEP Services) with our specialized, trained and qualified personnel to maintain and manage complete MEP services on 24 hour basis. Our Electro – Mechanical services includes:
    </p>
</div>
<div id="facility-mgmt-div">
    <div ng-controller='rjsmController'>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6 each-service" ng-repeat="facility in facilities" ng-if="facility.secondPage">
                    <div class="service-img">
                        <img ng-src="{{facility.imgSrc}}">
                    </div>
                    <div class="service-title">
                        <span class="num">{{facility.num}}</span>
                        <span class="dash"></span>
                        <span class="title-txt">{{facility.title}}</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            {{facility.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->