<div id="facility-mgmt-div">
    <div class="col-12 desc-img-row">
        <div class="col-6 desc-div">
            <p class="title">WE PROVIDE MANPOWER</p>
            <p class="desc">
                We believe your need to promote your brand, motivate employees or market your product.
            </p>
            <p class="sub-desc">
                Facility Management is a multifaceted discipline to ensure the functionality of the built environment by integrating people, place, process and technology.
            </p>
        </div>
        <div class="col-8 desc-img">
            <img src="assets/images/about_us_more/img-more-about.jpg">
        </div>
    </div>
    <div id="facility-services-div">
        <div id="facility-services" class="container">
            <div class="row">
                <div class="col-lg-4 col-6 each-service" service-hover>
                    <div class="service-img">
                        <img src="assets/images/facility_management/front_office.jpg">
                    </div>
                    <div class="service-title">
                        <span class="num">01</span>
                        <span class="dash"></span>
                        <span class="title-txt">Front Office / Receptionist</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                        </p>
                    </div>
                    <div class="explore-services">
                        <a href="">EXPLORE SERVICES</a>
                    </div>
                </div>
                <div class="col-lg-4 col-6 each-service" service-hover>
                    <div class="service-img">
                        <img src="assets/images/facility_management/security.jpg">
                    </div>
                    <div class="service-title">
                        <span class="num">02</span>
                        <span class="dash"></span>
                        <span class="title-txt">Security</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            We provide trained security guards to any business establishments, residential apartments, a person or a property.
                        </p>
                    </div>
                    <div class="explore-services">
                        <a href="">EXPLORE SERVICES</a>
                    </div>
                </div>
                <div class="col-lg-4 col-6 each-service" service-hover>
                    <div class="service-img">
                        <img src="assets/images/facility_management/house-keeping.jpg">
                    </div>
                    <div class="service-title">
                        <span class="num">03</span><span class="dash"></span>
                        <span class="title-txt">Housekeeping</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            Whether your space is administrative, executive or office floor plan, we drive to help you meet your requirements.
                        </p>
                    </div>
                    <div class="explore-services">
                        <a href="">EXPLORE SERVICES</a>
                    </div>
                </div>
                <div class="col-lg-4 col-6 each-service" service-hover>
                    <div class="service-img">
                        <img src="assets/images/facility_management/electricians.jpg">
                    </div>
                    <div class="service-title">
                        <span class="num">04</span>
                        <span class="dash"></span>
                        <span class="title-txt">Electricians</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                        </p>
                    </div>
                    <div class="explore-services">
                        <a href="">EXPLORE SERVICES</a>
                    </div>
                </div>
                <div class="col-lg-4 col-6 each-service" service-hover>
                    <div class="service-img">
                        <img src="assets/images/facility_management/ac.jpg">
                    </div>
                    <div class="service-title">
                        <span class="num">05</span>
                        <span class="dash"></span>
                        <span class="title-txt" class="title-txt">AC Technicians</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                        </p>
                    </div>
                    <div class="explore-services">
                        <a href="">EXPLORE SERVICES</a>
                    </div>
                </div>
                <div class="col-lg-4 col-6 each-service" service-hover>
                    <div class="service-img">
                        <img src="assets/images/facility_management/plumber.jpg">
                    </div>
                    <div class="service-title">
                        <span class="num">06</span>
                        <span class="dash"></span>
                        <span class="title-txt">Plumber</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                        </p>
                    </div>
                    <div class="explore-services">
                        <a href="">EXPLORE SERVICES</a>
                    </div>
                </div>
                <div class="col-lg-4 col-6 each-service" service-hover>
                    <div class="service-img">
                        <img src="assets/images/facility_management/mailroom.jpg">
                    </div>
                    <div class="service-title">
                        <span class="num">07</span>
                        <span class="dash"></span>
                        <span class="title-txt">Mail Room</span>
                    </div>
                    <div class="service-desc">
                        <p>
                            Our core business revolves around running on-site service centres with mail and logistics, generally providing the hub for service delivery options.
                        </p>
                    </div>
                    <div class="explore-services">
                        <a href="">EXPLORE SERVICES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>