<div id="overview-div">
    <div id="overview-content" class="transform-y-50">
        <div id="ov-title">
            <span>WE PROVIDE MANPOWER</span>
        </div>
        <div id="ov-desc">
            <span>We believe your need to promote your brand, motivate employees or market your product.</span>
        </div>
        <div id="ov-para">
            <p>Facility Management is a multifaceted discipline to ensure the functionality of the built environment by integrating people, place, process and technology.</p>
        </div>
    </div>
</div>
<div id="services-content">
    <div id="fo-service" class="each-service">
        <div class="left">
            <img src="assets/images/facility_mgmt/front_office.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>A CUSTOM HOME, FOR A CUSTOM YOU.</span>
                </div>
                <div class="title">
                    Front Office assistant? <span>We got it covered</span>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    We are passionate about crafting. Whether your project is of a construction nature or you are in the stages of furnishing, we would craft your space through the finest details ever. 
                </div>
                <div id="know-fo-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div id="fo-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="hk-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>HOUSE KEEPING.</span>
                </div>
                <div class="title">
                    <span>Don’t ever worry about the</span> maintenance
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Whether your space is administrative, executive or office floor plan, we drive to help you meet your requirements.
                </div>
                <div id="know-hk-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/facility_mgmt/house_keeping.jpg"/>
        </div>
    </div>
    <div id="hk-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="security-service" class="each-service">
        <div class="left">
            <img src="assets/images/facility_mgmt/security.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>SECURITY</span>
                </div>
                <div class="title">
                    Safety matters! <span>Our security works 24/7</span>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    We provide trained security guards to any business establishments, residential apartments, a person or a property.
                </div>
                <div id="know-security-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div id="security-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="log-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>LOGISTICS AND MAIL ROOM SERVICES.</span>
                </div>
                <div class="title">
                    Get things delivered Safer and Quicker
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Our core business revolves around running on-site service centres with mail and logistics, generally providing the hub for service delivery options.
                </div>
                <div id="know-log-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/facility_mgmt/logistics.jpg"/>
        </div>
    </div>
    <div id="log-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="plumbing-service" class="each-service">
        <div class="left">
            <img src="assets/images/facility_mgmt/plumbing.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>PLUMBING SERVICES</span>
                </div>
                <div class="title">
                    Never leak out again. Ever!
                </div>
                <div class="divider"></div>
                <div class="desc">
                    We provide trained security guards to any business establishments, residential apartments, a person or a property.
                </div>
                <div id="know-plumbing-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div id="plumbing-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="ac-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>A/C MAINTENANCE SERVICES</span>
                </div>
                <div class="title">
                    Feeling the heat and getting frustrated?
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Our core business revolves around running on-site service centres with mail and logistics, generally providing the hub for service delivery options.
                </div>
                <div id="know-ac-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/facility_mgmt/ac.jpg"/>
        </div>
    </div>
    <div id="ac-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
</div>