<div id="facility-mgmt-div" class="facility-mgmt">
    <div class="col-12 desc-img-row">
        <div class="col-6 desc-div">
            <p class="title">WE PROVIDE MANPOWER</p>
            <p class="desc">
                We offer wide range of Facility Management services
            </p>
            <p class="sub-desc">
                Facility Management is a multifaceted discipline to ensure the functionality of the built environment by integrating people, place, process and technology.
            </p>
        </div>
        <div class="col-8 desc-img">
            <img src="assets/images/facility_management/facility_management.jpg">
        </div>
    </div>
    <div ng-controller='rjsmController'>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6 each-service" ng-repeat="facility in facilities" ng-if="!facility.secondPage">
                    <div class="service-img">
                        <img ng-src="{{facility.imgSrc}}">
                    </div>
                    <div class="service-title">
                        <div class="num">{{facility.num}}</div>
                        <div class="dash"></div>
                        <div class="title-txt">{{facility.title}}</div>
                    </div>
                    <div class="service-desc">
                        <p>
                            {{facility.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>