<div id="overview-div">
    <div id="overview-content" class="transform-y-50">
        <div id="ov-title">
            <span>A CUSTOM EXPERIENCE</span>
        </div>
        <div id="ov-desc">
            <span>It’s about a seamless integration of Interior Spaces embodied by the clients' lifestyle and aesthetic values.</span>
        </div>
        <div id="ov-para">
            <p>We are dedicated to getting to know you to carefully consider the smallest details. Through a collaborative process, we engage with clients on a personal level and aim to craft a custom experience.</p>
        </div>
    </div>
</div>
<div id="services-content">
    <div id="home-service" class="each-service">
        <div class="left">
            <img src="assets/images/interior/home.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>A CUSTOM HOME, FOR A CUSTOM YOU.</span>
                </div>
                <div class="title">
                    Crafting interiors to its finest.
                </div>
                <div class="divider"></div>
                <div class="desc">
                    We are passionate about crafting. Whether your project is of a construction nature or you are in the stages of furnishing, we would craft your space through the finest details ever.
                </div>
                <div id="know-home-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div id="home-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="corporate-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>CLASSY, CORPORATE.</span>
                </div>
                <div class="title">
                    Beautifully crafted space, for the classy you. 
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Whether your space is administrative, executive or office floor plan, we drive to help you meet your requirements.
                </div>
                <div id="know-corporate-service" class="know-our-services" know-our-services-dir>
                    <span>Know our services</span>
                    <img class="expand-icon" src="assets/images/expand_icon.svg"/>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/interior/office.jpg"/>
        </div>
    </div>
    <div id="corporate-service-expanded" class="service-expanded each-service">
        <div class="left">
            <div id="expanded-service-div" class="text-content transform-y-50">
                <span id="our-services">OUR SERVICES</span>
                <span id="expanded-service"><span>Crafting</span> interiors to its finest.</span>
                <div class="service-divider"></div>
                <ul id="expanded-service-list">
                    <li>Thoughtful Planning</li>
                    <li>Curated furnishings</li>
                    <li>Architecture and Space Planning</li>
                    <li>Design and Decorating</li>
                </ul>
            </div>
        </div>
    </div>
</div>