<div id="desc-img-row" class="col-12">
    <div id="desc-div" class="col-5">
        <p class="desc">
            rjs365 is your one stop solution for all your needs.
        </p>
        <p class="sub-desc">
            We offer wide range of services
        </p>
    </div>
    <div id="desc-img" class="col-8">
        <img src="assets/images/landing_page/img.jpg">
    </div>
</div>
<div id="scroll-div">
    <span>Scroll</span>
</div>
<div id="img-nav">
    <img src="assets/images/icn-chevron-left.svg"/>
    <img src="assets/images/icn-chevron-right.svg"/>
</div>