<div class="col-12 desc-img-row" ng-controller="rjsmController">
    <div class="col-5 desc-div transform-y-50">
        <p class="desc">
            Your one stop solution for all your needs.
        </p>
        <p class="sub-desc">
            We offer wide range of services.
        </p>
    </div>
    <div class="col-8 desc-img">
        <div class="slider">
            <div>
                <img src="assets/images/landing_page/img.jpg"/>
            </div>
            <div>
                <img src="assets/images/about_us/img-about-us.jpg"/>
            </div>
            <div>
                <img src="assets/images/about_us_more/img-more-about.jpg"/>
            </div>
        </div>
    </div>

    <div id="img-nav">
        <img class="left" src="assets/images/icn-chevron-left.svg"/>
        <img class="right" src="assets/images/icn-chevron-right.svg"/>
    </div>
</div>