<div id="real-estate-div" ng-controller="rjsmController">
    <div class="single-page-section" ng-repeat="eachPage in realEstate">
        <div class="single-page-content">
            <div class="col-12 desc-img-row">
                <div class="col-6 desc-div">
                    <p class="title">{{eachPage.title}}</p>
                    <p class="desc">
                        {{eachPage.desc}}
                    </p>
                    <p class="sub-desc">
                        {{eachPage.subDesc}}
                    </p>
                </div>
                <div class="col-8 desc-img">
                    <img ng-src="{{eachPage.imgSrc}}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ad-div">
    <p class="title">RENT AND LEASE FACILITIES</p>
    <p class="desc">
        It's just not about buying anymore, we even offer Rental and Lease. Just give us a call!
    </p>
    <p class="sub-desc">
        We even offer Rental and Lease facilites for the best affordable prices
    </p>
</div>