<div id="overview-div">
    <div id="overview-content" class="transform-y-50">
        <div id="ov-title">
            <span>BUY OR SELL PROPERTY</span>
        </div>
        <div id="ov-desc">
            <span>Residential or Commercial? We got both of it covered.</span>
        </div>
        <div id="ov-para">
            <p>To take over everything, from an idea and solutions to realization. We believe in traditions and incorporate them within our innovations for helping out the one in need with our wide range of services offered.</p>
        </div>
    </div>
</div>
<div id="services-content">
    <div id="residential-service" class="each-service">
        <div class="left">
            <img src="assets/images/real_estate/real_estate.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>RESIDENTIAL</span>
                </div>
                <div class="title">
                    Real Estate
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
    </div>
    <div id="commercial-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>COMMERCIAL</span>
                </div>
                <div class="title">
                    Real Estate
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/real_estate/commercial.jpg"/>
        </div>
    </div>
</div>
<div id="facility-content">
    <div id="facility-div" class="transform-y-50">
        <div id="facility-title">
            <span>RENT AND LEASE FACILITIES</span>
        </div>
        <div id="facility-title-1">
            <span>It’s just not about buying anymore, we even offer Rental and Lease</span>
        </div>
        <div id="facility-desc">
            <p>We even offer Rental and Lease facilites for the best affordable prices</p>
        </div>
    </div>
</div>