<div id="services-div">
    <div id="what-we-offer">
        <span>WHAT WE OFFER</span>
    </div>
    <div id="our-services">
        Our services
    </div>
    <div id="all-services" class="container">
        <div class="row">
            <div class="col-lg-4 col-6 each-service" service-hover>
                <div class="service-title">
                    <span class="num">01</span>
                    <span class="dash"></span>
                    <span class="title-txt">Software Development</span>
                </div>
                <div class="service-desc">
                    <p>
                        Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                    </p>
                </div>
                <div class="explore-services">
                    <a href="">EXPLORE SERVICES</a>
                </div>
            </div>
            <div class="col-lg-4 col-6 each-service" service-hover>
                <div class="service-title">
                    <span class="num">02</span>
                    <span class="dash"></span>
                    <span class="title-txt">Facility Management</span>
                </div>
                <div class="service-desc">
                    <p>
                        Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                    </p>
                </div>
                <div class="explore-services">
                    <a href="">EXPLORE SERVICES</a>
                </div>
            </div>
            <div class="col-lg-4 col-6 each-service" service-hover>
                <div class="service-title">
                    <span class="num">03</span><span class="dash"></span>
                    <span class="title-txt">IT Solutions</span>
                </div>
                <div class="service-desc">
                    <p>
                        Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                    </p>
                </div>
                <div class="explore-services">
                    <a href="">EXPLORE SERVICES</a>
                </div>
            </div>
            <div class="col-lg-4 col-6 each-service" service-hover>
                <div class="service-title">
                    <span class="num">04</span>
                    <span class="dash"></span>
                    <span class="title-txt">Real Estate</span>
                </div>
                <div class="service-desc">
                    <p>
                        Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                    </p>
                </div>
                <div class="explore-services">
                    <a href="">EXPLORE SERVICES</a>
                </div>
            </div>
            <div class="col-lg-4 col-6 each-service" service-hover>
                <div class="service-title">
                    <span class="num">05</span>
                    <span class="dash"></span>
                    <span class="title-txt" class="title-txt">Branding and design</span>
                </div>
                <div class="service-desc">
                    <p>
                        Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                    </p>
                </div>
                <div class="explore-services">
                    <a href="">EXPLORE SERVICES</a>
                </div>
            </div>
            <div class="col-lg-4 col-6 each-service" service-hover>
                <div class="service-title">
                    <span class="num">06</span>
                    <span class="dash"></span>
                    <span class="title-txt">Services</span>
                </div>
                <div class="service-desc">
                    <p>
                        Etiam pulvinar purus dolor, at interdum libero dignissim non. Phasellus bibendum cursus suscipit. Nunc tempus, nisl quis consectetur mollis, neque orci rhoncus dui, eu maximus augue lacus ac augue.
                    </p>
                </div>
                <div class="explore-services">
                    <a href="">EXPLORE SERVICES</a>
                </div>
            </div>
        </div>
    </div>
</div>