<div id="footer-contact-div">
    <div class="transform-y-50">
        <div id="left-footer">
            <span id="footer-row1">IT'S YOUR JOURNEY. WE'RE HERE TO HELP</span>
            <span id="footer-row2">We search for the best, prior your desires.</span>
            <p>Just give us a call and we'll take you throughout your journey until you find the perfect satisfaction. Your satisfaction matters the most.</p>
        </div>
        <div id="right-footer">
            <span id="footer-contact">+91 1234567890</span>
            <span id="footer-email">hello@mywebsite.com</span>
        </div>
    </div>
</div>
<div id="footer-address">
    <span>1494 | BDA QUARTERS | AUSTIN TOWN | BANGALORE | 560047</span>
</div>