<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-6">
                <p class="title">IT'S YOUR JOURNEY. WE'RE HERE TO HELP</p>
                <p class="desc">We search for the best, prior your desires.</p>
                <p class="sub-desc">Just give us a call and we'll take you throughout your journey until you find the perfect satisfaction. Your satisfaction matters the most.</p>
            </div>
            <div class="col-lg-3 col-6">
                <ul id="footer-address">
                    <li class="city">Bangalore</li>
                    <li class="address">1494, BDA Quarterrs, Austin Town, Bangalore - 560047</li>
                    <li class="phone">+91 1234567890</li>
                    <li class="email">stephen@rjs365.com</li>
                </ul>
            </div>
            <div class="col-lg-3 col-6">
                <ul id="footer-menu">
                    <li ng-href="{{'#/about-us'}}">About</li>
                    <li>Services</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
        <div id="copyright">
            Copyright whatever reserved to rjs365
        </div>
    </div>
</div>